.alert-modal {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    border-radius: 5px;
    padding: 17px;
}

.Askmodal {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #4c4a4a52;
    text-align: center;
    font-size: 27px;
    top: 0;
}

.alert-btn {
    width: 151px;
    height: 47px;
    border-style: none;
    color: white;
    padding: 9px;
    margin: 2px;
    border-radius: 2px;
    font-size: 22px;
    cursor: pointer;
}