label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 17px;
    color: #fff;
    padding: 2px;
    font-weight: 200;
}

input:disabled {
    cursor: not-allowed;
    background-color: rgb(99 92 92 / 30%);
    border-color: rgba(118, 118, 118, 0.3);
}

textarea:disabled {
    cursor: not-allowed;
    background-color: rgb(99 92 92 / 30%);
    border-color: rgba(118, 118, 118, 0.3);
}

.form-buttons {
    text-align: center;
    margin-top: 12px;
}

.form-input-div {
    margin-bottom: 21px;
}

.form-input-div .file-preview {
    vertical-align: middle;
    width: 172px;
}

meter {
    width: 100%;
}

.form-control {
    display: block;
    width: 96%;
    height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 21px;
}

.form-control:focus-within {
    border-color: skyblue;
}

.select-input {
    font-size: 14px;
    height: 37px;
    width: 100%;
}

.button-control {
    display: inline-block;
    /* width: 10%;
    height: 36px; */
    padding: 2px 8px;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    background-color: #29afd6;
    border: 2px solid #131212;
    border-radius: 4px;
    color: white;
    /* margin-bottom: 12px; */
}

.checkbox {
    width: 45px;
}

input[type=checkbox] {
    width: 25px;
    height: 30px;
    cursor: pointer;
}

.modal .button-control {
    width: 17%;
}

.form-control:focus,
.form-control:focus-visible,
.form-control:focus-within {
    border-color: #29afd6;
}

textarea.form-control {
    height: 77px;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #948f8f;
    border-bottom: 1px solid #fff;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
    padding: 12px;
    width: 96%;
    height: fit-content;
    cursor: pointer;
    min-height: 15px;
}

.list-group-item {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #ddd;
    padding: 5px;
    margin: 5px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}


/* .form-control:invalid { */


/* border: red;
    color:red; */


/* border-color: red; */


/* } */

.form-control :valid {
    border-color: #29afd6;
}

span.required-star {
    color: red;
}

@media(max-width:900px) {
    /* .button-control {
        width: 38%;
    } */
    .form-control {
        width: 90%;
    }
    .select-input {
        width: 99%;
    }
}

@media screen and (min-width: 1824px) {
    .button-control {
        font-size: 30px;
    }
}