/* Navigation Bar Design */

nav {
    float: left;
    top: 0;
    background: #0a2534;
    /* margin-left: -8px; */
    left: 0;
    width: 18%;
    padding-bottom: 12px;
    height: 100%;
    position: fixed;
    z-index: 4;
    overflow: auto;
    padding: 0;
}

nav ul {
    margin: 15px;
}

nav ul li {
    list-style: none;
    margin: 1px;
    margin-left: -41px;
    /* height: 26px; */
    padding: 12px;
    font-size: 17px;
    cursor: pointer;
    color: white;
    margin-bottom: 4px;
    font-weight: 400;
}

nav ul li a {
    font-family: sans-serif;
    /* text-transform: uppercase; */
    display: inline-block;
    width: 100%;
    text-decoration: none;
    /* color: white; */
}

.div-like-textarea .text-wrapper {
    padding-left: 70px;
}

.img-wrapper {
    height: 100%;
    float: left;
}

nav a {
    color: white;
}

nav ul li a:hover {
    color: dodgerblue;
}

#nav-bar-top {
    background: linear-gradient(rgb(0 0 0 / 13%), rgb(0 0 0 / 23%)), url(../img/cover/7.jpg) center center no-repeat;
    background-size: cover;
    height: 150px;
}

#nav-bar-top-lib {
    background: linear-gradient(rgb(0 0 0 / 13%), rgb(0 0 0 / 23%)), url(../img/cover/10.jpg) center center no-repeat;
    background-size: cover;
    height: 150px;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

header {
    background: #012534;
    height: 62px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-shadow: -7px 7px 12px 2px rgb(35 33 33);
    padding-right: 15px;
    padding-left: 15px;
}

#searchBar {
    margin-left: 20%;
    padding: 8px;
}

#searchBar button {
    height: 36px;
    margin-left: -4px;
}

#searchBar input {
    padding: 6px 9px;
    /* height: 20px; */
    width: 138px;
}

header .symbols {
    font-size: 26px;
    padding: 17px;
    color: white;
}

header .symbols:hover {
    color: dodgerblue;
}

.main {
    margin-left: 18%;
    padding: 24px;
    margin-top: 27px;
    min-height: calc(100vh - 100px);
}

footer {
    padding: 5px;
    margin-left: 17%;
    background-color: black;
}

header {
    margin-left: 17%;
}

#user-drop-down {
    display: none;
}

p {
    font-size: 15px;
    line-height: 21px;
    /* text-indent: 37px; */
    font-family: sans-serif;
    font-weight: 400;
}

section .container {
    width: unset;
}

footer .container {
    text-align: center;
}

.dashboard-icons {
    font-size: 21px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    display: inline-block;
    margin: 15px;
}

.dashboard-icons i {
    font-size: 75px;
    color: #31708f;
}

nav .active {
    color: dodgerblue;
}

.dashboard-icons a {
    text-decoration: none;
    color: unset;
    line-height: 40px;
}

label {
    color: black !important;
}

@media screen and (min-width: 992px) {
    #searchBar input {
        width: 275px;
    }
    #searchBar button {
        padding: 8px;
    }
}

@media screen and (max-width: 992px) {
    .navbar-img {
        display: none;
    }
    .closed-nav {
        display: none;
    }
    .main {
        margin-left: unset;
    }
    #footer {
        margin-left: -8px;
    }
    nav {
        height: unset;
        overflow: visible;
    }
    .nav-menu {
        background-color: #012534;
        align-items: center;
        width: 100vh;
        position: relative;
        padding: 4px;
        margin-top: -4px;
    }
    header .navbar-logo {
        display: none;
    }
    header {
        padding: 2px;
        margin: unset;
    }
}

@media screen and (min-width: 1824px) {
    header {
        height: 110px;
        margin-left: 18%;
    }
    .main {
        margin-top: 80px;
    }
    nav ul li {
        padding: 30px;
        font-size: 44px;
    }
    #searchBar input {
        width: 785px;
        height: 45px;
    }
    #searchBar button {
        padding: 8px;
        width: 83px;
        height: 78px;
        font-size: 27px;
    }
    .dashboard-icons i {
        font-size: 239px;
    }
    .dashboard-icons {
        font-size: 81px;
    }
}